@page "/"

<PageTitle>Hello World!</PageTitle>

<h1>Hello World!</h1>

Welcome to your new app.

<div class="alert alert-info mt-2"><strong>OfficeContext: </strong>@(OfficeContext ?? "Browser")</div>

<SurveyPrompt Title="How is Blazor working for you?" />

<button type="button" class="btn btn-success shadow-none" @onclick="HelloWorld">Hello World!</button>

@code {
    private async Task HelloWorld()
    {
        await JSModule.InvokeVoidAsync("helloWorldAsync");
    }
}
