@page "/time"
<PageTitle>Time</PageTitle>
<h1>Time</h1>
<p>This sample will repeatedly update the currently selected cell.</p>
<div class="alert alert-info"><strong>OfficeContext: </strong>@(OfficeContext ?? "Browser")</div>
<div class="alert alert-success mt-2"><strong>Current Time: </strong>@CurrentTime</div>
