@page "/time"
<PageTitle>Time</PageTitle>
<h1>Time</h1>
<div class="alert alert-info mt-4"><strong>OfficeContext: </strong>@(OfficeContext ?? "Browser")</div>
<div class="alert alert-success mt-4"><strong>Current Time: </strong>@CurrentTime</div>
